
<div class="py-6">
  <div class="flex justify-center">
    <p-select [options]="this.races" [(ngModel)]="selectedRace" (onChange)=filterResults() optionLabel="meeting_name" placeholder="Select Race" class="w-full md:w-100 px-1"  />
  </div>
  <p-tabs value="driver">
    <p-tablist class="flex justify-center py-6">
      <p-tab value="driver">Drivers</p-tab>
      <p-tab value="team">Teams</p-tab>
    </p-tablist>
    <p-tabpanels >
      <p-tabpanel value="driver" >
        <div class="flex justify-center py-6">
          <p-table *ngIf="this.selectedResult" [value]="this.selectedResult" [tableStyle]="{ 'min-width': '50rem' }"  >
            <ng-template #header pTemplate="header">
              <tr>
                <th pSortableColumn="driver.driverName">
                  DriverId
                  <p-sortIcon field="driver.driverName"/>
                </th>
                <th pSortableColumn="cost">
                  Cost
                  <p-sortIcon field="cost" />
                </th>
                <th pSortableColumn="points">
                  Points
                  <p-sortIcon field="points" />
                </th>
                <th pSortableColumn="positionsForMoney">
                  Positions To Gain $
                  <p-sortIcon field="positionsForMoney" />
                </th>
                <th pSortableColumn="easeToGainPoints">
                  Ease to Gain
                  <p-sortIcon field="easeToGainPoints" />
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-result pTemplate="body">
              <tr>
                <td>{{ result.driver.driverName }}</td>
                <td>{{ result.cost }}</td>
                <td>{{ result.points }}</td>
                <td>
                  <p-badge [value]="result.positionsForMoney" [severity]="resultSeverity(result)"/>
                </td>
                <td>
                  <p-badge [value]="result.easeToGainPoints" [severity]="resultSeverity(result)"/>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabpanel>
      <p-tabpanel value="team">
        <div class="flex justify-center py-6">
          <p-table *ngIf="this.selectedTeamResult" [value]="this.selectedTeamResult" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header pTemplate="header">
              <tr>
                <th pSortableColumn="criverId">
                  TeamId
                  <p-sortIcon field="driverId"/>
                </th>
                <th pSortableColumn="cost">
                  Cost
                  <p-sortIcon field="cost" />
                </th>
                <th pSortableColumn="points">
                  Points
                  <p-sortIcon field="points" />
                </th>
                <th pSortableColumn="positionsForMoney">
                  Positions To Gain $
                  <p-sortIcon field="positionsForMoney" />
                </th>
                <th pSortableColumn="easeToGainPoints">
                  Ease to Gain
                  <p-sortIcon field="easeToGainPoints" />
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-teamresult pTemplate="body">
              <tr>
                <td>{{ teamresult.team.teamName }}</td>
                <td>{{ teamresult.cost }}</td>
                <td>{{ teamresult.points }}</td>
                <td>
                  <p-badge [value]="teamresult.positionsForMoney" [severity]="resultSeverity(teamresult)"/>
                </td>
                <td>
                  <p-badge [value]="teamresult.easeToGainPoints" [severity]="resultSeverity(teamresult)"/>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabpanel>
    </p-tabpanels>

  </p-tabs>

</div>

