@if (this.authenticated) {
  <nav class="bg-red-900 text-white p-4 flex items-center">
    <div>
      <a *ngIf="this.authenticated" class="mr-4" routerLink="/admin/season-admin">Seasons</a>
      <a *ngIf="this.authenticated" class="mr-4" routerLink="/admin/race-admin">Races</a>
      <a *ngIf="this.authenticated" class="mr-4" routerLink="/admin/team-admin">Teams</a>
      <a *ngIf="this.authenticated" class="mr-4" routerLink="/admin/driver-admin">Drivers</a>
      <a *ngIf="this.authenticated" class="mr-4" routerLink="/admin/result-admin">Results</a>
    </div>
  </nav>
}
