<nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <span class="text-xl font-semibold">Grid Rivals Organzied Data</span>
  <div>
    @if (!this.authenticated) {
      <a class="mr-4" routerLink="/login">Login</a>
      <a class="mr-4" routerLink="/register">Register</a>
    } @else if (this.authenticated) {
      <a class="mr-4" routerLink="/dashboard">Dashboard</a>
      <p-button (onClick)="this.logout()" variant="outlined" rounded raised>Logout</p-button>
    }
  </div>
</nav>
