<p-tabs value="races" class="flex p-6">
  <p-tablist class="flex py-6">
    <p-tab value="manageTeams">Manage Teams <i class="pi pi-arrow-down"></i></p-tab>
  </p-tablist>
  <p-tabpanels >
    <p-tabpanel value="manageTeams">
      <div class="flex justify-center py-4">
        <p-button (onClick)="this.getAllTeams()" label="Update All Teams" class="px-3"><i class="pi pi-car"></i></p-button>
        <p-button (onClick)="this.addTeamsForSeasonStart()" label="Season Start" class="px-3"><i class="pi pi-plus-circle"></i></p-button>
      </div>
      @if (this.teams) {
        <p-table [value]="this.teams" dataKey="teamId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
          <ng-template #header>
            <tr>
              <th pSortableColumn="teamName">Team Name
              <p-sortIcon field="teamName"/></th>
              <th>Team Id</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template #body let-result let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="result">
              <td>
                <p-cellEditor>
                  <ng-template #input>
                    <input pInputText type="text" [(ngModel)]="result.teamName" required style="width:50%"/>
                  </ng-template>
                  <ng-template #output>{{ result.teamName }}</ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template #input>
                    <input pInputText type="text" [(ngModel)]="result.teamId" required style="width:50%"/>
                  </ng-template>
                  <ng-template #output>{{ result.teamId }}</ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div style="width:12%" class="flex items-center justify-center gap-2">
                  @if (!editing) {
                    <p-button type="button" pInitEditableRow (onClick)="onRowEditInitTeam(result)" text rounded severity="success" pTooltip="Edit Team Line">
                      <i class="pi pi-pencil"></i>
                    </p-button>
                  }
                  @if (editing) {
                    <p-button text rounded severity="info" (onClick)="this.updateTeam(result)" pSaveEditableRow pTooltip="Save Changes">
                      <i class="pi pi-arrow-up-right"></i>
                    </p-button>
                    <p-button text rounded severity="warn" pSaveEditableRow (onClick)="onRowEditCancelTeam(result, ri)" pTooltip="Cancel Changes">
                      <i class="pi pi-eraser"></i>
                    </p-button>
                  }
                  <p-button text rounded severity="danger" (onClick)="this.deleteTeam(result)" pTooltip="Delete Team">
                    <i class="pi pi-times"></i>
                  </p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
